/database/geoip_db
/files
/node_modules
/public/hot
/public/storage
/public/nginx.conf
/public/slider
/js_apps/assets/admin_assets
/public/.htaccess
/public/sitemap.xml
/public/feeds/
/public/vendor

/public/tempVideo
/public/ffmpeg.exe
/public/ffprobe.exe
/public/uploads
/public/uploads2
/public/5d36916b-7d0b-4ed4-a6de-606e90af18cc
/public/upload
/public/ffmpeg.exe
/public/ffprobe.exe
/public/tempVideo
/public/.well-known
/public/js_apps_assets
/public/temp/
/storage
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.save
.env--.save
.DS_Store
.dccache
.phpunit.result.cache
index.php
devtest.php

/resources/metronic/node_modules/
/js_apps/public/admin_assets
.htaccess
worker.log
storage/oauth-public.key
storage/oauth-private.key
logs/access.log
logs/error.log